button {
  cursor: pointer !important;
}

.navbar.navbar-default {
  background: #03A9F4;
  color: white;
}

.link-generator {
  padding-top: 48px;
}
.link-generator > .container, #success {
  max-width: 400px;
}

/*Extra Bootstrap mods*/
label {
  font-size: 14px;
  font-weight: 700;
}

.input-group {
  margin-bottom: 16px;
  padding-left: 5px; /* so the label on custom link looks like theres not a bunch of whitespace :) */
}

.btn-right {
  float: right;
}

tbody th {
  font-weight: 200;
}
th:nth-child(1){
  padding-left: 32px !important;
}

#success {
  display: block;
  margin: 62px auto 0;
}
